The deadline for this homework is on **27.10.2022 15:29** (right before the practice session).

You can upload the zip file and then unzip it using the command below.

In [1]:
!unzip hw2.zip

unzip:  cannot find or open hw2.zip, hw2.zip.zip or hw2.zip.ZIP.

Run the below code snippet to import all the necessary libraries, as well as the modules (``knn.py`` and ``naive_bayes.py``), which you will fill in soon.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid') # Plot style

%load_ext autoreload
%autoreload 2

<ipython-input-2-a1dcdc31bd83>:4: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-whitegrid') # Plot style

# Decision Trees

In [3]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid') # Plot style
plt.rcParams['figure.figsize'] = (12.0, 8.0)

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

<ipython-input-3-9968de8d0ae9>:5: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-whitegrid') # Plot style

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Complete the incomplete parts in `decision_tree.py` script and import the `DTClassifier`. If you have never used recursive functions in python before, you may want to read [this](https://realpython.com/python-thinking-recursively/) or any similar tutorial to have more idea about the recursive functions in the code.

The dataset (`train.csv`) that we will work with, is the famous Titanic dataset from [kaggle](https://www.kaggle.com/c/titanic), where the goal is to predict whether a passenger survived or not.

In [4]:
from decision_tree import DTClassifier

In [5]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.shape

(891, 12)

**Problem1** For now, leave only the following columns: ``'Pclass', 'Sex', 'Survived'``(label).

In [8]:
data = df[['Pclass', 'Sex', 'Survived']]
data

     Pclass     Sex  Survived
0         3    male         0
1         1  female         1
2         3  female         1
3         1  female         1
4         3    male         0
..      ...     ...       ...
886       2    male         0
887       1  female         1
888       3  female         0
889       1    male         1
890       3    male         0

[891 rows x 3 columns]

When you are done filling the code, run the below code cell in order to check it. If everything is correct, then you want see any errors, otherwise you should resolve the errors before going ahead.

In [9]:
# DO NOT CHANGE ANYTHING IN THIS CELL
assert data.shape == (891, 3)
assert list(data.columns) == ['Pclass', 'Sex', 'Survived']
assert list(data.values[0]) == [3, 'male', 0]
# DO NOT CHANGE ANYTHING IN THIS CELL

Now that you have prepared the first version of the dataset, split it into train (80%) / test (20%) sets using the [``train_test_split``](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) function from sklearn (we will use random_seed in order to get the same sets).

In [10]:
X_train, X_test, y_train, y_test = train_test_split(df[['Pclass', 'Sex']],
                                                    df[['Survived']],
                                                    test_size=0.2,
                                                    random_state=0)

In [11]:
# DO NOT CHANGE ANYTHING IN THIS CELL
assert X_train.shape == (712, 2)
assert X_test.shape == (179, 2)
assert list(X_test.values[0]) == [3, 'male']
# DO NOT CHANGE ANYTHING IN THIS CELL

In [13]:
X_test

     Pclass     Sex
495       3    male
648       3    male
278       3    male
31        1  female
255       3  female
..      ...     ...
780       3  female
837       3    male
215       1  female
833       3    male
372       3    male

[179 rows x 2 columns]

Train a classifier on the training set and calculate the accuracy by running the code below. If you have implemented everything correctly, you should get about 79% accuracy on the test set with gini and entropy impurity measures.

In [14]:
model = DTClassifier(impurity='gini')
model.fit(X_train, y_train)
prediction = model.predict(X_test)
print(accuracy_score(prediction, y_test))

0.7877094972067039

In [15]:
model = DTClassifier(impurity='entropy')
model.fit(X_train, y_train)
prediction = model.predict(X_test)
print(accuracy_score(prediction, y_test))

0.7877094972067039

**Problem2** Add the feature ``Age`` as well and make sure there are no missing values in the data (delete the rows that have missing values). Hint: you may want to use the ``dropna()`` method from pandas.

In [18]:
data_with_age = df[['Pclass', 'Sex', 'Age', 'Survived']].dropna()
data_with_age

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
885       3  female  39.0         0
886       2    male  27.0         0
887       1  female  19.0         1
889       1    male  26.0         1
890       3    male  32.0         0

[714 rows x 4 columns]

In [19]:
# DO NOT CHANGE ANYTHING IN THIS CELL
assert list(data_with_age.columns) == ['Pclass', 'Sex', 'Age', 'Survived']
assert data_with_age.shape == (714, 4)
# DO NOT CHANGE ANYTHING IN THIS CELL

Split the data into train 80% / test 20% splits as you have done above

In [20]:
X_train, X_test, y_train, y_test = train_test_split(df[['Pclass', 'Sex', 'Age']],
                                                    df[['Survived']],
                                                    test_size=0.2,
                                                    random_state=0)

Run the code below and see if you get about 81% accuracy with both of the impurity measures.

In [21]:
model = DTClassifier(impurity='gini')
model.fit(X_train, y_train)
prediction = model.predict(X_test)
accuracy_score(prediction, y_test)

/content/decision_tree.py:82: RuntimeWarning: invalid value encountered in greater_equal
  true_indices = X[:,feature_id] >= threshold

0.7988826815642458

In [22]:
model = DTClassifier(impurity='entropy')
model.fit(X_train, y_train)
prediction = model.predict(X_test)
accuracy_score(prediction, y_test)

/content/decision_tree.py:82: RuntimeWarning: invalid value encountered in greater_equal
  true_indices = X[:,feature_id] >= threshold

0.7988826815642458

**Problem3** Let's compare with sklearn's implementation on both of the cases (with and without ``Age`` feature). We need to encode the non-numeric features first, which can be done by running the code below.

In [23]:
from sklearn.tree import DecisionTreeClassifier

data1 = pd.get_dummies(data, drop_first=True)
print(data1.head())

   Pclass  Survived  Sex_male
0       3         0         1
1       1         1         0
2       3         1         0
3       1         1         0
4       3         0         1

**Question** Read the documentation of [``get_dummies``](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html) function from pandas and explain what is the purpose of using ``drop_first=True``

**Answer**

Make sure you split the transformed data as you have done above using the same ``random_seed``

In [27]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(data1[['Pclass', 'Sex_male']],
                                                        data1[['Survived']],
                                                        test_size=0.2,
                                                        random_state=0)

In [28]:
model1 = DecisionTreeClassifier(criterion='gini')
model1.fit(X_train1, y_train1)
prediction1 = model1.predict(X_test1)
accuracy_score(prediction1, y_test1)

0.7877094972067039

In [29]:
model1 = DecisionTreeClassifier(criterion='entropy')
model1.fit(X_train1, y_train1)
prediction1 = model1.predict(X_test1)
accuracy_score(prediction1, y_test1)

0.7877094972067039

Now check the case with `Age` variable.

In [30]:
data2 = pd.get_dummies(data_with_age, drop_first=True)

X_train2, X_test2, y_train2, y_test2 = train_test_split(data2[['Pclass', 'Sex_male', 'Age']],
                                                        data2[['Survived']],
                                                        test_size=0.2,
                                                        random_state=0)

In [31]:
model1 = DecisionTreeClassifier(criterion='gini')
model1.fit(X_train2, y_train2)
prediction1 = model1.predict(X_test2)
accuracy_score(prediction1, y_test2)

0.8041958041958042

In [32]:
model1 = DecisionTreeClassifier(criterion='gini')
model1.fit(X_train2, y_train2)
prediction1 = model1.predict(X_test2)
accuracy_score(prediction1, y_test2)

0.8041958041958042

In [33]:
data2

     Pclass   Age  Survived  Sex_male
0         3  22.0         0         1
1         1  38.0         1         0
2         3  26.0         1         0
3         1  35.0         1         0
4         3  35.0         0         1
..      ...   ...       ...       ...
885       3  39.0         0         0
886       2  27.0         0         1
887       1  19.0         1         0
889       1  26.0         1         1
890       3  32.0         0         1

[714 rows x 4 columns]

**Question** Do you get the same results as sklearn's implementation? If not, can you guess what the difference is? Visualizing the decision tree (sklearn's) trained on a few data points (so that you get a short tree) may be useful. You can use [this link](https://stackoverflow.com/questions/52654280/visualizing-decision-tree-not-using-graphviz-web) for visualizing utils.

**Answer**

**Bonus Problem** Modify your implementation so that you get the same results as with the sklearn's implementation.

**Problem4** Find a good set of hyper-parameters in order to get a good classifier (either with your or sklearn's implementation) on the test set (with the Age feature). You may want to use the K-Fold Cross Validation technique, but you are free to come up with your own approach as long as you explain it below.

In [ ]:
# YOUR CODE HERE

**Question** What is the best combination of hyper-parameters based on your experiments? What was your approach for searching those parameters? Can you explain why those parameters result in a better classifier?

**Answer**